{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ url_for('static', filename='change-password.js') }}"></script>
    <form action="{{ url_for('change_password') }}" method="post">
        <div class="change_pass"></div>
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" id="oldpassword" name="old_password" placeholder="Old Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password1" id="password1" placeholder="New Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password2" id="password2" placeholder="Re-Enter New Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="submitbutton" type="submit">Change Password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
